[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
httpx = "*"
banana-dev = "*"
anthropic = "*"
tiktoken = "*"
python-dotenv = "*"
replicate = "*"
asgiref = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
